.sub_butt {
    width: 80%;
    background: #4dd6b6;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  .sub_butt:hover {
    -webkit-box-shadow: 4px 3px 9px -1px gray;
            box-shadow: 4px 3px 9px -1px gray;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }